# ansible-tools.rc

for rc in \
"./.ansible.proj" \
"./.ansible-tools.proj" \
"$HOME/.ansible-tools.d/ansible-tools.rc" \
"$HOME/.ansible-tools.rc"
do
  [ -r "$rc" ] ||
    continue
  . "$rc"
  break
done

ANSIBLE_CONFIG="${ANSIBLE_CONFIG:-}"

[ -z "$ANSIBLE_CONFIG" ] && {
  for cfg in \
  "$HOME/.ansible-tools.d/ansible.cfg" \
  "$HOME/.ansible.cfg" \
  "$CDIR/ansible.cfg"
  do
    [ -e "$cfg" ] ||
      continue
    ANSIBLE_CONFIG="${cfg}"
    break
  done
}

[ -n "$ANSIBLE_CONFIG" ] && {
  export ANSIBLE_CONFIG
}

AT_AUTHOR="${AUTHOR:-$(id -un 2>/dev/null)}"
AT_COMPANY="${COMPANY:-$(hostname 2>/dev/null)}"

