---
# tasks file for {{ role_name }}
# vim: set ff=unix ts=2 sw=2 sts=2 et : This line is VIM modeline

- name: "{{ role_name }} | main | Hello world !!"
  debug:
    msg: "Hello, {{ role_name }} !!"

